
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

/* Add to your global CSS */
@supports (-webkit-touch-callout: none) {
  /* iOS specific fixes */
  .overscroll-contain {
    -webkit-overflow-scrolling: touch;
  }
}

/* Prevent horizontal scroll on mobile */
body {
  overflow-x: hidden;
}
  




h1,h2{
   font-family: "Playfair Display", serif;
}


/* Add to your global CSS */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}

/* text-[#1E3A8A] */